/*  reset de gli style */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a{
  text-decoration: none;
  color: white;
}


ul{
  list-style: none;
}

/* style del header generici */
.header-nav{
  background-color: orange;
}

.nav-container{
  margin: auto;
  align-items: center;
}

.nav-row{
  padding: 9px 0;
  display: flex;
  justify-content: space-around;
}

.logo{
  height: 35px;
}

.nav-column{
  color: white;
  display: flex;
  justify-content: space-between;
}

/* style de gli elementi delle collone del header */
.col-ul{
  display: flex;
  align-items: center;
}

.col-ul li{
  margin: 5px;
}

.button-ul li{
  border: 1px solid white;
  border-radius: 15px;
  padding: 3px 5px;

}

/* style del main */
.main-section{
  margin: 45px auto;
  max-width: 800px;
  text-align: center;
}
